<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://localhost/NServiceBus-Persistence-MognoDb-Tests"/>
    <add name="MongoDBWithDatabase" connectionString="mongodb://localhost/MyDB"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
